<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">
        <div class="card mb-4">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %>, <%= campground.location %></h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">Price: £<%= campground.price %>/night</p>
            </div>
            <ul class="list-group"></ul>
            <div class="card-body">
                <p class="card-text">Submitted by: <%= campground.author.username %></p>
                <% if (currentUser && campground.author.equals(currentUser._id)) { %>
                <div>
                    <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <a class="btn btn-danger    " href="/campgrounds/<%= campground._id %>/delete">Delete</a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-6">
        <% if (currentUser) { %>
        <h2 class="mb-4">Leave a Review</h2>
        <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
            <div class="">
                <fieldset class="starability-checkmark">
                    <input type="radio" id="first-rate0" class="input-no-rate" name="review[rating]" value="0" checked
                        aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea class="form-control" name="review[body]" id="body" rows="3" required></textarea>
                <div class="invalid-feedback">Review cannot be empty.</div>
                <div class="valid-feedback">Looks okay!</div>
            </div>
            <button class="btn btn-success">Submit Review</button>
        </form>
        <% } %>
        <h3 class="h3">Reviews:</h3>
        <% if (campground.reviews.length <= 0) { %>
        <p>No reviews yet...</p>
        <% } else { %>
        <div>
            <% for( let i = (campground.reviews.length - 1); i >= 0; i-- ) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=campground.reviews[i].author.username%>
                    </h5>
                    <p class="starability-result" data-rating="<%=campground.reviews[i].rating%>">
                        Rated: <%=campground.reviews[i].rating%>"> stars
                    </p>
                    <p class="card-text">
                        <%=campground.reviews[i].body%>
                    </p>
                    <% if (currentUser && campground.reviews[i].author.equals(currentUser._id)) { %>
                    <form
                        action="/campgrounds/<%=campground._id%>/reviews/<%=campground.reviews[i]._id%>?_method=DELETE"
                        method="POST">
                        <button class="btn btn-sm btn-danger">Delete!</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
</div>