<% layout("layouts/boilerplate") %>
<h1><%= campground.title %>, <%= campground.location %></h1>
<img src="<%= campground.image %>" alt="">
<div>
    Description: <%= campground.description %>
</div>
<div>
    Price: <%= campground.price %>
</div>
<div>
    ID: <%= campground._id %>
</div>
<footer>
    <p>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit This Campground</a>
    </p>
    <p>
        <a href="/campgrounds">Return to All Campgrounds</a>
    </p>
    <p>
        <a href="/campgrounds/<%= campground._id %>/delete">Delete This Campground</a>
    </p>
</footer>