<% layout("layouts/boilerplate") %>
<h1><%= campground.title %></h1>
<ul>
    ID: <%= campground._id %>
</ul>
<ul>
    Location: <%= campground.location %>
</ul>
<footer>
    <p>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit This Campground</a>
    </p>
    <p>
        <a href="/campgrounds">Return to All Campgrounds</a>
    </p>
    <p>
        <a href="/campgrounds/<%= campground._id %>/delete">Delete This Campground</a>
    </p>
</footer>