<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-4">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %>, <%= campground.location %></h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">Price: £<%= campground.price %>/night</p>
            </div>
            <ul class="list-group"></ul>
            <div class="card-body">
                <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <a class="btn btn-danger    " href="/campgrounds/<%= campground._id %>/delete">Delete</a>
            </div>
        </div>
        <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea class="form-control" name="review[body]" id="body" rows="3" required></textarea>
                <div class="invalid-feedback">Review cannot be empty.</div>
                <div class="valid-feedback">Looks okay!</div>
            </div>
            <button class="btn btn-success">Submit Review</button>
        </form>
        <% for( let i = 0; i < campground.reviews.length; i++ ) { %>
        <div class="mb-3">
            <p>
                Score: <%=campground.reviews[i].rating%>,
                Review: <%=campground.reviews[i].body%>
            </p>
        </div>
        <% } %>
    </div>
</div>